.navbar{
    background-color: black;
}
span{
    color: white;
}
a{
    color:#f98a02;
}
a:hover{
    color:white;
    text-decoration: underline;
}
.welcome{
    color: #f98a02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.welcome:hover{
    color:white;
}